.error-message {
    display: flex;
    justify-content: center;
    visibility: visible;
    color: red;
    font-weight: bold;
    animation: fadeIn 0.5s ease-out;
    text-align: center;
}
.done-message {
    display: flex;
    justify-content: center;
    visibility: visible;
    color: green;
    font-weight: bold;
    animation: fadeIn 0.5s ease-out;
    text-align: center;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    pointer-events: none;
}

body {
    width: auto;
    height: auto;
}

#form1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    flex: 1;
    background: url(../6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: flex 1s ease;
    transition-delay: 1s;
    overflow: hidden;
}
.sidebar::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0px);
    z-index: -10;
    transition: backdrop-filter 1s ease;
    transition-delay: 1s;
}
.sidebar-top.sidebar-menu {
    height: 25%;
    font-size: 25px;
    opacity: 0;
    transform: translateY(-50px);
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: antiquewhite;
}
.sidebar-menu-option {
    width: 75%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
    opacity: 0;
}
.sidebar-menu-option-icon {
    margin: 0 30px;
    flex-shrink: 0;
}
.sidebar-menu-option-btn {
    color: inherit;
    font-size: inherit;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
    flex-grow: 1;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(129, 129, 129);
    box-shadow: inset rgb(44, 43, 43);
    text-align: center;
}
.sidebar-menu-option-btn:hover {
    background-color: rgba(255, 255, 255, 0.583);
    color: rgb(26, 26, 26);
}
.sidebar-menu-option-btn:active {
    background-color: rgba(255, 255, 255, 0.627);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.887);
}
.sidebar-menu-option-clicked {
    background-color: rgba(255, 255, 255, 0.583);
    color: rgb(26, 26, 26);
}

.main-content {
    visibility: hidden;
    flex: 0;
    display: flex;
    flex-direction: column;
    transition: flex 1s ease, opacity 0.5s ease-out;
    transition-delay: 1s;
    overflow: hidden;
    opacity: 0;
}

