.sidebar.loaded {
    flex: 0.25;
}
.sidebar.loaded::before {
    backdrop-filter: blur(10px);
}
.sidebar-top.sidebar-menu.loaded {
    transition: all 0.5s ease-out;
    transition-delay: 1.5s;
    opacity: 1;
    transform: translateY(0);
}
.sidebar-menu-option.loaded {
    transition: all 0.5s ease-out;
    transition-delay: 1.5s;
    opacity: 1;
}

.main-content.loaded {
    visibility: visible;
    flex: 0.75;
    opacity: 1;
}
